.Chat-container {
  height: calc(100vh - 120px);
  flex-grow: 1;
}

.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Chat-header {
  padding-top: 10px;
}

.Chat-newMessage {
  padding-top: 10px;
}

.Chat-idBad {
  margin: 8px;
}
