.SingleMessage-container {
  max-width: 800px;
}

.SingleMessage-outerContainer {
  margin: 0 0 var(--xs);
  display: flex;
  justify-content: space-between;
}

.SingleMessage-sender {
  width: 106px;
  margin-right: var(--xs);
  flex-shrink: 0;
}

.SingleMessage-username {
  width: 300px;
  margin-right: var(--xs);
  flex-shrink: 0;
  font-style: italic;
  padding: var(--s);
}

.SingleMessage-content {
  padding: var(--s) var(--m);
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 650px;
  background: var(--medgrey);
  border-radius: var(--l);
}

.SingleMessage-mine .SingleMessage-content {
  background: var(--primary--dim);
  color: var(--white);
}

.SingleMessage-timeDisplay {
  font-size: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}
